// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '~jquery-ui/themes/base/all.css';

.yjrb29-page-title {
    @extend .h1;
    @extend .text-center;
}

.yjrb29-page-title-bottom-padding {
    @extend .yjrb29-page-title;
    @extend .pb-5;
}

.yjrb29-top-row {
    @extend .row;
    @extend .my-3;
    @extend .align-items-center;
}

.yjrb29-top-row-spacer {
    @extend .col-8;
}

.yjrb29-col-show-deleted {
    @extend .col;
    white-space: nowrap;
}

.yjrb29-btn-blue {
    @extend .btn;
    @extend .btn-outline-info;
}

.yjrb29-btn-red {
    @extend .btn;
    @extend .btn-outline-danger;
}

.yjrb29-btn-green {
    @extend .btn;
    @extend .btn-outline-success;
}

.yjrb29-table-header-row {
    @extend .row;
    @extend .border-top;
    border-bottom: 1px solid #dee2e6;
}

.yjrb29-table-header {
    @extend .py-3;
    font-weight: bold;
    @extend .text-center;
}

.yjrb29-table-row {
    @extend .row;
    @extend .border-top;
    @extend .align-items-center;
}

.yjrb29-table-cell {
    @extend .py-3;
}

.yjrb29-table-cell-center {
    @extend .yjrb29-table-cell;
    text-align: center;
}

.yjrb29-form-left-spacer {
    @extend .col-3;
}

.yjrb29-form-check {
    @extend .form-check;
    white-space:nowrap;
}

.yjrb29-form-label {
    @extend .col-form-label;
    @extend .col-2;
}

.yjrb29-application-spacer {
    @extend .col-3;
}

.yjrb29-application-group {
    @extend .col;
    @extend .font-weight-bold;
    font-size: 120%;
}

.yjrb29-application-name {
    @extend .col-3;
}

.yjrb29-application-row {
    @extend .form-group;
    @extend .row;
    @extend .pt-3;
}

.yjrb29-form-content {
    @extend .col-4;
}

.yjrb29-show-page-button {
    @extend .col-2;
    @extend .text-center;
}

.yjrb29-big {
    font-size: 150%;
}

.yjrb29-big-red {
    @extend .yjrb29-big;
    @extend .text-danger;
}

.yjrb29-big-green {
    @extend .yjrb29-big;
    @extend .text-success;
}

.yjrb29-small {
    font-size: 50%;
}

.yjrb29-small-red {
    @extend .yjrb29-small;
    @extend .text-danger;
}

.yjrb29-small-green {
    @extend .yjrb29-small;
    @extend .text-success;
}